<%- include('layouts/header.ejs') %>
<h2 class="mb-4">Hii, <%= user.name %></h2>

<div class="row">
    <div class="col-md-4">
        <ul class="list-group">
            <% if (users.length > 0) { %>
                <% for (let i = 0; i < users.length; i++) { %>
                    <li class="list-group-item list-group-item-dark cursor-pointer user-list" data-id="<%= users[i]['_id'] %>">
                        <img src="<%= 'http://127.0.0.1:3000/' + users[i].image %>" alt="" width="50px" height="50px">
                        <%= users[i].name %>

                        <% 
                        if(users[i]['is_online']==1){
                            %>
                            <sup class="online-status" id="<%= users[i]['_id'] %> -status">Online</sup>
                              <%}

                              if(users[i]['is_online']==0){
                                %>
                                <sup class="offline-status" id="<%= users[i]['_id'] %> -status">Offline</sup>
                                <%
                        }
                        
                        
                        %>
                    </li>
                <% } %>
            <% } %>
        </ul>
    </div>
    <div class="col-md-9">
        <h3 class="start-head">Click to Start chatting</h3>
        <div class="chat-section">
            <div id="chat-container">
                

            </div>
            <form action="" id="chat-form">
                <input type="text" name="message" placeholder="enter message" id="message"  class="border" required>
                <input type="submit" value="Send Message" class="btn btn-primary">
            </form>

        </div>

    </div>
</div>
<script>
var sender_id = '<%= user._id %>';
var receiver_id;
var socket=io('/user-namespace',{
    auth:{
        token:'<%= user._id %>',
    }
});



    $(document).ready(function(){
        $('.user-list').click(function(){

                var userId=$(this).attr('data-id');
                receiver_id=userId;
                $('.start-head').hide();
                $('.chat-section').show();
        });
    });


    //update user status
    socket.on('getOnlineUser',function(data){
         $('#'+data.user_id+'-status').text('Online');
         $('#'+data.user_id+'-status').removeClass('offline-status');
         $('#'+data.user_id+'-status').addClass('online-status');
        });


        socket.on('getOfflineUser',function(data){
         $('#'+data.user_id+'-status').text('Offline');
         $('#'+data.user_id+'-status').removeClass('online-status');
         $('#'+data.user_id+'-status').addClass('offline-status');
       




    });


    //chat save of user
    $('#chat-form').submit(function(event){
        event.preventDefault();
        var message=$('#message').val();
        $.ajax({
            url:'/save-chat',
            type:'POST',
            data:{sender_id:sender_id,receiver_id:receiver_id,message:message},
            success:function(response){
                if(data.success){
                    console.log(response);
                    $('#message').val('');
                    let chat=response.data.message;
                    let html= `<div class="current-user-chat">
                    <h5>`+chat+`</h5>
                </div>`;
                $('#chat-container').append(html);

                }
                else{
                    alert(data.msg);
                }
            }
        })
    })
</script>

<%- include('layouts/footer.ejs') %>
